snippet wt-test-create "test CreateResource"
func TestRepository_Create${1:Resource}(t *testing.T) {
	conn, _ := db.TestSetup(t, "postgres")
	rw := db.New(conn)
	wrapper := db.TestWrapper(t)
	kms := kms.TestKms(t, conn, wrapper)
	iamRepo := iam.TestRepo(t, conn, wrapper)

	${21:org}, ${22:prj} := iam.TestScopes(t, iamRepo)
	${31:`!p snip.rv = t[11].lower()[0] + t[11][1:]`} := test${11:Parent}s(t, conn, ${23:`!p snip.rv=t[21] if t[21] != '_' else t[22]`}.PublicId, 1)[0]

	var tests = []struct {
		name      string
		in        *$1
		opts      []Option
		want      *$1
		wantIsErr error
	}{
		{
			name:      "nil-$1",
			wantIsErr: db.ErrNilParameter,
		},
		{
			name:      "nil-embedded-$1",
			in:        &$1{},
			wantIsErr: db.ErrNilParameter,
		},
		{
			name: "invalid-no-${14:`!p snip.rv = t[11].lower()[0] + t[11][1:]`}-id",
			in: &$1{
				$1: &store.$1{},
			},
			wantIsErr: db.ErrInvalidParameter,
		},
		{
			name: "invalid-public-id-set",
			in: &$1{
				$1: &store.$1{
					${12:`!p snip.rv = t[11] + 'Id'`}:  $31.PublicId,
					PublicId: "abcd_OOOOOOOOOO",
				},
			},
			wantIsErr: db.ErrInvalidParameter,
		},
		{
			name: "valid-no-options",
			in: &$1{
				$1: &store.$1{
					$12: $31.PublicId,
				},
			},
			want: &$1{
				$1: &store.$1{
					$12: $31.PublicId,
				},
			},
		},
		{
			name: "valid-with-name",
			in: &$1{
				$1: &store.$1{
					$12: $31.PublicId,
					Name:    "test-name-repo",
				},
			},
			want: &$1{
				$1: &store.$1{
					$12: $31.PublicId,
					Name:    "test-name-repo",
				},
			},
		},
		{
			name: "valid-with-description",
			in: &$1{
				$1: &store.$1{
					$12:     $31.PublicId,
					Description: ("test-description-repo"),
				},
			},
			want: &$1{
				$1: &store.$1{
					$12:     $31.PublicId,
					Description: ("test-description-repo"),
				},
			},
		},
	}

	for _, tt := range tests {
		tt := tt
		t.Run(tt.name, func(t *testing.T) {
			assert, require := assert.New(t), require.New(t)
			repo, err := NewRepository(rw, rw, kms)
			require.NoError(err)
			require.NotNil(repo)
			got, err := repo.Create$1(context.Background(), $23.GetPublicId(), tt.in, tt.opts...)
			if tt.wantIsErr != nil {
				assert.Truef(errors.Is(err, tt.wantIsErr), "want err: %q got: %q", tt.wantIsErr, err)
				assert.Nil(got)
				return
			}
			require.NoError(err)
			assert.Empty(tt.in.PublicId)
			require.NotNil(got)
			assertPublicId(t, $1Prefix, got.PublicId)
			assert.NotSame(tt.in, got)
			assert.Equal(tt.want.Name, got.Name)
			assert.Equal(tt.want.Description, got.Description)
			assert.Equal(got.CreateTime, got.UpdateTime)
			assert.NoError(db.TestVerifyOplog(t, rw, got.PublicId, db.WithOperation(oplog.OpType_OP_TYPE_CREATE), db.WithCreateNotBefore(10*time.Second)))
		})
	}

	t.Run("invalid-duplicate-names", func(t *testing.T) {
		assert, require := assert.New(t), require.New(t)
		repo, err := NewRepository(rw, rw, kms)
		require.NoError(err)
		require.NotNil(repo)

		$21, $22 := iam.TestScopes(t, iamRepo)
		$31 := test$11s(t, conn, $23.PublicId, 1)[0]

		in := &$1{
			$1: &store.$1{
				$12: $31.PublicId,
				Name:    "test-name-repo",
			},
		}

		got, err := repo.Create$1(context.Background(), $23.GetPublicId(), in)
		require.NoError(err)
		require.NotNil(got)
		assertPublicId(t, $1Prefix, got.PublicId)
		assert.NotSame(in, got)
		assert.Equal(in.Name, got.Name)
		assert.Equal(in.Description, got.Description)
		assert.Equal(got.CreateTime, got.UpdateTime)

		got2, err := repo.Create$1(context.Background(), $23.GetPublicId(), in)
		assert.Truef(errors.Is(err, db.ErrNotUnique), "want err: %v got: %v", db.ErrNotUnique, err)
		assert.Nil(got2)
	})

	t.Run("valid-duplicate-names-diff-$14s", func(t *testing.T) {
		assert, require := assert.New(t), require.New(t)
		repo, err := NewRepository(rw, rw, kms)
		require.NoError(err)
		require.NotNil(repo)

		$21, $22 := iam.TestScopes(t, iamRepo)
		${32:`!p snip.rv = t[31] + 's'`} := test$11s(t, conn, $23.PublicId, 2)

		$31A, $31B := $32[0], $32[1]

		in := &$1{
			$1: &store.$1{
				Name: "test-name-repo",
			},
		}
		in2 := in.clone()

		in.$12 = $31A.PublicId
		got, err := repo.Create$1(context.Background(), $23.GetPublicId(), in)
		require.NoError(err)
		require.NotNil(got)
		assertPublicId(t, $1Prefix, got.PublicId)
		assert.NotSame(in, got)
		assert.Equal(in.Name, got.Name)
		assert.Equal(in.Description, got.Description)
		assert.Equal(got.CreateTime, got.UpdateTime)

		in2.$12 = $31B.PublicId
		got2, err := repo.Create$1(context.Background(), $23.GetPublicId(), in2)
		require.NoError(err)
		require.NotNil(got2)
		assertPublicId(t, $1Prefix, got2.PublicId)
		assert.NotSame(in2, got2)
		assert.Equal(in2.Name, got2.Name)
		assert.Equal(in2.Description, got2.Description)
		assert.Equal(got2.CreateTime, got2.UpdateTime)
	})
}
endsnippet

snippet wt-test-update "test UpdateResource"
func TestRepository_Update${1:Resource}(t *testing.T) {
	conn, _ := db.TestSetup(t, "postgres")
	rw := db.New(conn)
	wrapper := db.TestWrapper(t)
	kms := kms.TestKms(t, conn, wrapper)
	iamRepo := iam.TestRepo(t, conn, wrapper)

	changeName := func(n string) func(*$1) *$1 {
		return func(${2:`!p snip.rv = t[1].lower()[0]`} *$1) *$1 {
			$2.Name = n
			return $2
		}
	}

	changeDescription := func(d string) func(*$1) *$1 {
		return func($2 *$1) *$1 {
			$2.Description = d
			return $2
		}
	}

	makeNil := func() func(*$1) *$1 {
		return func($2 *$1) *$1 {
			return nil
		}
	}

	makeEmbeddedNil := func() func(*$1) *$1 {
		return func($2 *$1) *$1 {
			return &$1{}
		}
	}

	deletePublicId := func() func(*$1) *$1 {
		return func($2 *$1) *$1 {
			$2.PublicId = ""
			return $2
		}
	}

	nonExistentPublicId := func() func(*$1) *$1 {
		return func($2 *$1) *$1 {
			$2.PublicId = "abcd_OOOOOOOOOO"
			return $2
		}
	}

	combine := func(fns ...func($2 *$1) *$1) func(*$1) *$1 {
		return func($2 *$1) *$1 {
			for _, fn := range fns {
				$2 = fn($2)
			}
			return $2
		}
	}

	var tests = []struct {
		name      string
		orig      *$1
		chgFn     func(*$1) *$1
		masks     []string
		want      *$1
		wantCount int
		wantIsErr error
	}{
		{
			name: "nil-${3:`!p snip.rv = t[1].lower()[0] + t[1][1:]`}",
			orig: &$1{
				$1: &store.$1{},
			},
			chgFn:     makeNil(),
			masks:     []string{"Name", "Description"},
			wantIsErr: db.ErrNilParameter,
		},
		{
			name: "nil-embedded-$3",
			orig: &$1{
				$1: &store.$1{},
			},
			chgFn:     makeEmbeddedNil(),
			masks:     []string{"Name", "Description"},
			wantIsErr: db.ErrNilParameter,
		},
		{
			name: "no-public-id",
			orig: &$1{
				$1: &store.$1{},
			},
			chgFn:     deletePublicId(),
			masks:     []string{"Name", "Description"},
			wantIsErr: db.ErrInvalidParameter,
		},
		{
			name: "updating-non-existent-$3",
			orig: &$1{
				$1: &store.$1{
					Name: "test-name-repo",
				},
			},
			chgFn:     combine(nonExistentPublicId(), changeName("test-update-name-repo")),
			masks:     []string{"Name"},
			wantIsErr: db.ErrRecordNotFound,
		},
		{
			name: "empty-field-mask",
			orig: &$1{
				$1: &store.$1{
					Name: "test-name-repo",
				},
			},
			chgFn:     changeName("test-update-name-repo"),
			wantIsErr: db.ErrEmptyFieldMask,
		},
		{
			name: "read-only-fields-in-field-mask",
			orig: &$1{
				$1: &store.$1{
					Name: "test-name-repo",
				},
			},
			chgFn:     changeName("test-update-name-repo"),
			masks:     []string{"PublicId", "CreateTime", "UpdateTime", "$12"},
			wantIsErr: db.ErrInvalidFieldMask,
		},
		{
			name: "unknown-field-in-field-mask",
			orig: &$1{
				$1: &store.$1{
					Name: "test-name-repo",
				},
			},
			chgFn:     changeName("test-update-name-repo"),
			masks:     []string{"Bilbo"},
			wantIsErr: db.ErrInvalidFieldMask,
		},
		{
			name: "change-name",
			orig: &$1{
				$1: &store.$1{
					Name: "test-name-repo",
				},
			},
			chgFn: changeName("test-update-name-repo"),
			masks: []string{"Name"},
			want: &$1{
				$1: &store.$1{
					Name: "test-update-name-repo",
				},
			},
			wantCount: 1,
		},
		{
			name: "change-description",
			orig: &$1{
				$1: &store.$1{
					Description: "test-description-repo",
				},
			},
			chgFn: changeDescription("test-update-description-repo"),
			masks: []string{"Description"},
			want: &$1{
				$1: &store.$1{
					Description: "test-update-description-repo",
				},
			},
			wantCount: 1,
		},
		{
			name: "change-name-and-description",
			orig: &$1{
				$1: &store.$1{
					Name:        "test-name-repo",
					Description: "test-description-repo",
				},
			},
			chgFn: combine(changeDescription("test-update-description-repo"), changeName("test-update-name-repo")),
			masks: []string{"Name", "Description"},
			want: &$1{
				$1: &store.$1{
					Name:        "test-update-name-repo",
					Description: "test-update-description-repo",
				},
			},
			wantCount: 1,
		},
		{
			name: "delete-name",
			orig: &$1{
				$1: &store.$1{
					Name:        "test-name-repo",
					Description: "test-description-repo",
				},
			},
			masks: []string{"Name"},
			chgFn: combine(changeDescription("test-update-description-repo"), changeName("")),
			want: &$1{
				$1: &store.$1{
					Description: "test-description-repo",
				},
			},
			wantCount: 1,
		},
		{
			name: "delete-description",
			orig: &$1{
				$1: &store.$1{
					Name:        "test-name-repo",
					Description: "test-description-repo",
				},
			},
			masks: []string{"Description"},
			chgFn: combine(changeDescription(""), changeName("test-update-name-repo")),
			want: &$1{
				$1: &store.$1{
					Name: "test-name-repo",
				},
			},
			wantCount: 1,
		},
		{
			name: "do-not-delete-name",
			orig: &$1{
				$1: &store.$1{
					Name:        "test-name-repo",
					Description: "test-description-repo",
				},
			},
			masks: []string{"Description"},
			chgFn: combine(changeDescription("test-update-description-repo"), changeName("")),
			want: &$1{
				$1: &store.$1{
					Name:        "test-name-repo",
					Description: "test-update-description-repo",
				},
			},
			wantCount: 1,
		},
		{
			name: "do-not-delete-description",
			orig: &$1{
				$1: &store.$1{
					Name:        "test-name-repo",
					Description: "test-description-repo",
				},
			},
			masks: []string{"Name"},
			chgFn: combine(changeDescription(""), changeName("test-update-name-repo")),
			want: &$1{
				$1: &store.$1{
					Name:        "test-update-name-repo",
					Description: "test-description-repo",
				},
			},
			wantCount: 1,
		},
	}

	for _, tt := range tests {
		tt := tt
		t.Run(tt.name, func(t *testing.T) {
			assert, require := assert.New(t), require.New(t)
			repo, err := NewRepository(rw, rw, kms)
			assert.NoError(err)
			require.NotNil(repo)

			${21:org}, ${22:prj} := iam.TestScopes(t, iamRepo)
			${31:`!p snip.rv = t[11].lower()[0] + t[11][1:]`} := test${11:Parent}s(t, conn, ${23:`!p snip.rv=t[21] if t[21] != '_' else t[22]`}.PublicId, 1)[0]

			tt.orig.${12:`!p snip.rv = t[11] + 'Id'`} = $31.PublicId
			orig, err := repo.Create$1(context.Background(), $23.GetPublicId(), tt.orig)
			assert.NoError(err)
			require.NotNil(orig)

			if tt.chgFn != nil {
				orig = tt.chgFn(orig)
			}
			got, gotCount, err := repo.Update$1(context.Background(), $23.GetPublicId(), orig, 1, tt.masks)
			if tt.wantIsErr != nil {
				assert.Truef(errors.Is(err, tt.wantIsErr), "want err: %q got: %q", tt.wantIsErr, err)
				assert.Equal(tt.wantCount, gotCount, "row count")
				assert.Nil(got)
				return
			}
			assert.NoError(err)
			assert.Empty(tt.orig.PublicId)
			require.NotNil(got)
			assertPublicId(t, $1Prefix, got.PublicId)
			assert.Equal(tt.wantCount, gotCount, "row count")
			assert.NotSame(tt.orig, got)
			assert.Equal(tt.orig.$12, got.$12)
			dbassert := dbassert.New(t, rw)
			if tt.want.Name == "" {
				dbassert.IsNull(got, "name")
				return
			}
			assert.Equal(tt.want.Name, got.Name)
			if tt.want.Description == "" {
				dbassert.IsNull(got, "description")
				return
			}
			assert.Equal(tt.want.Description, got.Description)
			if tt.wantCount > 0 {
				assert.NoError(db.TestVerifyOplog(t, rw, got.PublicId, db.WithOperation(oplog.OpType_OP_TYPE_UPDATE), db.WithCreateNotBefore(10*time.Second)))
			}
		})
	}

	t.Run("invalid-duplicate-names", func(t *testing.T) {
		assert, require := assert.New(t), require.New(t)
		repo, err := NewRepository(rw, rw, kms)
		assert.NoError(err)
		require.NotNil(repo)

		name := "test-dup-name"
		$21, $22 := iam.TestScopes(t, iamRepo)
		$31 := test$11s(t, conn, $23.PublicId, 1)[0]
		${25:`!p snip.rv = t[2] + 's'`} := test$1s(t, conn, $31.PublicId, 2)

		$2A, $2B := $25[0], $25[1]

		$2A.Name = name
		got1, gotCount1, err := repo.Update$1(context.Background(), $23.GetPublicId(), $2A, 1, []string{"name"})
		assert.NoError(err)
		require.NotNil(got1)
		assert.Equal(name, got1.Name)
		assert.Equal(1, gotCount1, "row count")
		assert.NoError(db.TestVerifyOplog(t, rw, $2A.PublicId, db.WithOperation(oplog.OpType_OP_TYPE_UPDATE), db.WithCreateNotBefore(10*time.Second)))

		$2B.Name = name
		got2, gotCount2, err := repo.Update$1(context.Background(), $23.GetPublicId(), $2B, 1, []string{"name"})
		assert.Truef(errors.Is(err, db.ErrNotUnique), "want err: %v got: %v", db.ErrNotUnique, err)
		assert.Nil(got2)
		assert.Equal(db.NoRowsAffected, gotCount2, "row count")
		err = db.TestVerifyOplog(t, rw, $2B.PublicId, db.WithOperation(oplog.OpType_OP_TYPE_UPDATE), db.WithCreateNotBefore(10*time.Second))
		assert.Error(err)
		assert.True(errors.Is(db.ErrRecordNotFound, err))
	})

	t.Run("valid-duplicate-names-diff-$11s", func(t *testing.T) {
		assert, require := assert.New(t), require.New(t)
		repo, err := NewRepository(rw, rw, kms)
		assert.NoError(err)
		require.NotNil(repo)

		$21, $22 := iam.TestScopes(t, iamRepo)
		${32:`!p snip.rv = t[31] + 's'`} := test$11s(t, conn, $23.PublicId, 2)

		$31A, $31B := $32[0], $32[1]

		in := &$1{
			$1: &store.$1{
				Name: "test-name-repo",
			},
		}
		in2 := in.clone()

		in.$12 = $31A.PublicId
		got, err := repo.Create$1(context.Background(), $23.GetPublicId(), in)
		assert.NoError(err)
		require.NotNil(got)
		assertPublicId(t, $1Prefix, got.PublicId)
		assert.NotSame(in, got)
		assert.Equal(in.Name, got.Name)
		assert.Equal(in.Description, got.Description)

		in2.$12 = $31B.PublicId
		in2.Name = "first-name"
		got2, err := repo.Create$1(context.Background(), $23.GetPublicId(), in2)
		assert.NoError(err)
		require.NotNil(got2)
		got2.Name = got.Name
		got3, gotCount3, err := repo.Update$1(context.Background(), $23.GetPublicId(), got2, 1, []string{"name"})
		assert.NoError(err)
		require.NotNil(got3)
		assert.NotSame(got2, got3)
		assert.Equal(got.Name, got3.Name)
		assert.Equal(got2.Description, got3.Description)
		assert.Equal(1, gotCount3, "row count")
		assert.NoError(db.TestVerifyOplog(t, rw, got2.PublicId, db.WithOperation(oplog.OpType_OP_TYPE_UPDATE), db.WithCreateNotBefore(10*time.Second)))
	})

	t.Run("change-scope-id", func(t *testing.T) {
		assert, require := assert.New(t), require.New(t)
		repo, err := NewRepository(rw, rw, kms)
		assert.NoError(err)
		require.NotNil(repo)

		$21, $22 := iam.TestScopes(t, iamRepo)
		$32 := test$11s(t, conn, $23.PublicId, 2)

		$31A, $31B := $32[0], $32[1]

		$2A := test$1s(t, conn, $31A.PublicId, 1)[0]
		$2B := test$1s(t, conn, $31B.PublicId, 1)[0]

		assert.NotEqual($2A.$12, $2B.$12)
		orig := $2A.clone()

		$2A.$12 = $2B.$12
		assert.Equal($2A.$12, $2B.$12)

		got1, gotCount1, err := repo.Update$1(context.Background(), $23.GetPublicId(), $2A, 1, []string{"name"})

		assert.NoError(err)
		require.NotNil(got1)
		assert.Equal(orig.$12, got1.$12)
		assert.Equal(1, gotCount1, "row count")
		assert.NoError(db.TestVerifyOplog(t, rw, $2A.PublicId, db.WithOperation(oplog.OpType_OP_TYPE_UPDATE), db.WithCreateNotBefore(10*time.Second)))
	})
}
endsnippet

snippet wt-test-lookup "test LookupResource"
func TestRepository_Lookup${1:Resource}(t *testing.T) {
	conn, _ := db.TestSetup(t, "postgres")
	rw := db.New(conn)
	wrapper := db.TestWrapper(t)
	kms := kms.TestKms(t, conn, wrapper)
	iamRepo := iam.TestRepo(t, conn, wrapper)

	${21:org}, ${22:prj} := iam.TestScopes(t, iamRepo)
	${31:`!p snip.rv = t[11].lower()[0] + t[11][1:]`} := test${11:Parent}s(t, conn, ${23:`!p snip.rv=t[21] if t[21] != '_' else t[22]`}.PublicId, 1)[0]
	${24:`!p snip.rv = t[1].lower()[0] + t[1][1:]`} := test$1s(t, conn, $31.PublicId, 1)[0]

	${4:`!p snip.rv = t[1].lower()[0] + t[1][1:] + 'Id'`}, err := new$1Id()
	require.NoError(t, err)
	var tests = []struct {
		name      string
		in        string
		want      *$1
		wantIsErr error
	}{
		{
			name:      "with-no-public-id",
			wantIsErr: db.ErrInvalidParameter,
		},
		{
			name: "with-non-existing-${5:${1/([a-z]*)([A-Z]+)/(?1:$1-)\L$2\E/g}}-id",
			in:   $4,
		},
		{
			name: "with-existing-$5-id",
			in:   $24.PublicId,
			want: $24,
		},
	}

	for _, tt := range tests {
		tt := tt
		t.Run(tt.name, func(t *testing.T) {
			assert, require := assert.New(t), require.New(t)
			repo, err := NewRepository(rw, rw, kms)
			assert.NoError(err)
			require.NotNil(repo)
			got, err := repo.Lookup$1(context.Background(), tt.in)
			if tt.wantIsErr != nil {
				assert.Truef(errors.Is(err, tt.wantIsErr), "want err: %q got: %q", tt.wantIsErr, err)
				assert.Nil(got)
				return
			}
			require.NoError(err)
			assert.EqualValues(tt.want, got)
		})
	}
}
endsnippet

snippet wt-test-list "test ListResources"
func TestRepository_List${1:ResourceExample}s(t *testing.T) {
	conn, _ := db.TestSetup(t, "postgres")
	rw := db.New(conn)
	wrapper := db.TestWrapper(t)
	kms := kms.TestKms(t, conn, wrapper)
	iamRepo := iam.TestRepo(t, conn, wrapper)

	${21:org}, ${22:prj} := iam.TestScopes(t, iamRepo)
	${32:`!p snip.rv = t[11].lower()[0] + t[11][1:] + 's'`} := test${11:Parent}s(t, conn, ${23:`!p snip.rv=t[21] if t[21] != '_' else t[22]`}.PublicId, 2)
	${31:`!p snip.rv = t[11].lower()[0] + t[11][1:]`}A, $31B := $32[0], $32[1]

	${6:`!p snip.rv = t[1].lower()[0] + t[1][1:] + 's'`} := test$1s(t, conn, $31A.PublicId, 3)

	var tests = []struct {
		name      string
		in        string
		opts      []Option
		want      []*$1
		wantIsErr error
	}{
		{
			name:      "with-no-${18:${11/([a-z]*)([A-Z]+)/(?1:$1-)\L$2\E/g}}-id",
			wantIsErr: db.ErrInvalidParameter,
		},
		{
			name: "$11-with-no-${26:${6/([a-z]*)([A-Z]+)/(?1:$1-)\L$2\E/g}}",
			in:   $31B.PublicId,
			want: []*$1{},
		},
		{
			name: "$11-with-$26",
			in:   $31A.PublicId,
			want: $6,
		},
	}

	for _, tt := range tests {
		tt := tt
		t.Run(tt.name, func(t *testing.T) {
			assert, require := assert.New(t), require.New(t)
			repo, err := NewRepository(rw, rw, kms)
			assert.NoError(err)
			require.NotNil(repo)
			got, err := repo.List$1s(context.Background(), tt.in, tt.opts...)
			if tt.wantIsErr != nil {
				assert.Truef(errors.Is(err, tt.wantIsErr), "want err: %q got: %q", tt.wantIsErr, err)
				assert.Nil(got)
				return
			}
			require.NoError(err)
			opts := []cmp.Option{
				cmpopts.SortSlices(func(x, y *$1) bool { return x.PublicId < y.PublicId }),
				protocmp.Transform(),
			}
			assert.Empty(cmp.Diff(tt.want, got, opts...))
		})
	}
}

func TestRepository_List$1s_Limits(t *testing.T) {
	conn, _ := db.TestSetup(t, "postgres")
	rw := db.New(conn)
	wrapper := db.TestWrapper(t)
	kms := kms.TestKms(t, conn, wrapper)
	iamRepo := iam.TestRepo(t, conn, wrapper)

	$21, $22 := iam.TestScopes(t, iamRepo)
	$31 := test$11s(t, conn, $23.PublicId, 1)[0]
	count := 10
	$6 := test$1s(t, conn, $31.PublicId, count)

	var tests = []struct {
		name     string
		repoOpts []Option
		listOpts []Option
		wantLen  int
	}{
		{
			name:    "With no limits",
			wantLen: count,
		},
		{
			name:     "With repo limit",
			repoOpts: []Option{WithLimit(3)},
			wantLen:  3,
		},
		{
			name:     "With negative repo limit",
			repoOpts: []Option{WithLimit(-1)},
			wantLen:  count,
		},
		{
			name:     "With List limit",
			listOpts: []Option{WithLimit(3)},
			wantLen:  3,
		},
		{
			name:     "With negative List limit",
			listOpts: []Option{WithLimit(-1)},
			wantLen:  count,
		},
		{
			name:     "With repo smaller than list limit",
			repoOpts: []Option{WithLimit(2)},
			listOpts: []Option{WithLimit(6)},
			wantLen:  6,
		},
		{
			name:     "With repo larger than list limit",
			repoOpts: []Option{WithLimit(6)},
			listOpts: []Option{WithLimit(2)},
			wantLen:  2,
		},
	}

	for _, tt := range tests {
		tt := tt
		t.Run(tt.name, func(t *testing.T) {
			assert, require := assert.New(t), require.New(t)
			repo, err := NewRepository(rw, rw, kms, tt.repoOpts...)
			assert.NoError(err)
			require.NotNil(repo)
			got, err := repo.List$1s(context.Background(), $6[0].${12:`!p snip.rv = t[11] + 'Id'`}, tt.listOpts...)
			require.NoError(err)
			assert.Len(got, tt.wantLen)
		})
	}
}
endsnippet

snippet wt-test-new-resource "TestResource_New"
func Test${1:Resource}_New(t *testing.T) {
	conn, _ := db.TestSetup(t, "postgres")
	rw := db.New(conn)

	${21:org}, ${22:prj} := iam.TestScopes(t, iamRepo)
	${31:`!p snip.rv = t[11].lower()[0] + t[11][1:]`} := test${11:Parent}s(t, conn, ${23:`!p snip.rv=t[21] if t[21] != '_' else t[22]`}.PublicId, 1)[0]

	type args struct {
		${13:`!p snip.rv = t[11].lower()[0] + t[11][1:] + 'Id'`} string
		opts    []Option
	}

	var tests = []struct {
		name    string
		args    args
		want    *$1
		wantErr bool
	}{
		{
			name: "blank-${14:`!p snip.rv = t[11].lower()[0] + t[11][1:]`}-id",
			args: args{
				$13: "",
			},
			want:    nil,
			wantErr: true,
		},
		{
			name: "valid-no-options",
			args: args{
				$13: $31.PublicId,
			},
			want: &$1{
				$1: &store.$1{
					${12:`!p snip.rv = t[11] + 'Id'`}:  $31.PublicId,
				},
			},
		},
		{
			name: "valid-with-name",
			args: args{
				$13: $31.PublicId,
				opts: []Option{
					WithName("test-name"),
				},
			},
			want: &$1{
				$1: &store.$1{
					$12:  $31.PublicId,
					Name: "test-name",
				},
			},
		},
		{
			name: "valid-with-description",
			args: args{
				$13: $31.PublicId,
				opts: []Option{
					WithDescription("test-description"),
				},
			},
			want: &$1{
				$1: &store.$1{
					$12:  $31.PublicId,
					Description: "test-description",
				},
			},
		},
	}

	for _, tt := range tests {
		tt := tt
		t.Run(tt.name, func(t *testing.T) {
			assert, require := assert.New(t), require.New(t)
			got, err := New$1(tt.args.$13, tt.args.opts...)
			if tt.wantErr {
				assert.Error(err)
				require.Nil(got)
				return
			}
			require.NoError(err)
			require.NotNil(got)

			assert.Emptyf(got.PublicId, "PublicId set")
			assert.Equal(tt.want, got)

			id, err := new$1Id()
			assert.NoError(err)

			tt.want.PublicId = id
			got.PublicId = id

			err2 := rw.Create(context.Background(), got)
			assert.NoError(err2)
		})
	}
}
endsnippet
