snippet sn-test "test snippet"
${1:HostSetMember}

// 3
${3:${1/([a-z]*)([A-Z]+)/(?1:$1 )\L$2\E/g}}

// 16
${16:${1/([a-z]*)([A-Z]+)/(?1:$1-)\L$2\E/g}}

// 24
${24:`!p snip.rv = t[1].lower()[0] + t[1][1:]`}

// 51
${51:static_${1/([a-z]*)([A-Z]+)/(?1:$1_)\L$2\E/g}}
endsnippet

