# Build and Object Folders
bin/
obj/

#User Specific Files
*.user
*.suo

#Resource Caches
_ReSharper.*
*.sln.cache
.netrwhist
.netrwbook
view/
spell/
bundle/vim-cheatsheet

after/ftplugin/plantuml.vim
bundle/vim-java/
bundle/vimtips/
bundle/vim-docker/
ruby-syntax-groups.txt

bundle/**
temp/
plugged/
*.old
autoload/
